.root, body {
  -webkit-background: cover;
  -moz-background: cover;
  -moz-background: cover;
  background-color: #001064;
  background: cover;
  background-image: url(./images/rockymtn.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}
